@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

:root {
  --cl-white: rgb(247, 247, 247);

  --cl-balck: rgb(9, 9, 9);

  --cl-card-violet1: rgba(111, 11, 151, 0.245);

  --cl-card-violet2: rgba(141, 5, 194, 0.112);

  --cl-red-trash: rgba(238, 71, 71, 0.979);

  --cl-red-trash-focus: rgb(250, 18, 18);
}

ul,
li {
  list-style: none;
  padding-left: 0%;
  margin: 0.5em;
}

.userlist__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 22em;
  height: 15em;
  background: var(--cl-card-violet1);
  color: var(--cl-white);
  transition: 0.5s;
  margin: 1em 3em;
  animation: 1.5s circle;
}

.userlist__card::before {
  content: "";
  position: absolute;
  top: -1em;
  left: 0%;
  width: 100%;
  height: 1em;
  background: var(--cl-card-violet2);
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.userlist__card::after {
  content: "";
  position: absolute;
  top: -1em;
  left: -1em;
  width: 1em;
  height: 100%;
  background: var(--cl-card-violet1);
  transform-origin: left;
  transform: skewY(45deg);
  transition: 0.5s;
}

.userlist__card:hover {
  transform: translateY(-0.5em);
}
.userlist__name {
  font-size: 1.5em;
  margin: 0 0.5em;
  text-transform: capitalize;
  font-weight: 600;
}
.userlist_info {
  font-size: 0.9em;
  font-weight: 600;
}

.userlist__btn {
  background: none;
  border: none;
  font-size: 1.3em;
  margin: 0.5em 1em;
  cursor: pointer;
  color: var(--cl-balck);
}
.fa-trash {
  color: var(--cl-red-trash);
}

.userlist__btn:focus:nth-child(1) {
  color: var(--cl-red-trash-focus);
}
.userlist__btn:focus:nth-child(2) {
  color: var(--cl-white);
}

@keyframes circle {
  0% {
    clip-path: circle(0%);
  }
  100% {
    clip-path: circle(100%);
  }
}
